body {
    main {
        .column {
            .items {
                .item1 {
                    background-color: #65C7F7;
                    padding-right: 0;
                    img {
                        @include breakpoint(phone) {
                            width: 100%;
                        }
                        @include breakpoint(desktop) {
                            width: 100%;
                        }
                    }
                }
                .item2 {
                    background-color: #ECECEC;
                    padding-left: 4%;
                    @include breakpoint(phone) {
                        padding-left: 9%;
                        padding-right: 9%;
                    }
                    article {
                        padding-top: 8%;
                        @include breakpoint(phone) {
                            margin-top: 50px;
                            margin-bottom: 40px;
                        }
                        @include breakpoint(tablet) {
                            margin-top: 30px;
                            margin-bottom: 23px;
                        }
                        p {
                            font-weight: bold;
                        }
                        p.text {
                            color: #909090;
                        }
                        h2 {
                            font-weight: bold;
                            font-size: 24px;
                            @include breakpoint(tablet) {
                                font-size: 20px;
                            }
                        }
                        a.text2 {
                            color: #005EED;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .colunm-col {
            background-image: url('../../assets/Images/fondo-column.jpg');
            background-size: cover;
            padding-bottom: 4%;
            .items {
                .item1 {
                    background-color: transparent;
                }
                .item2 {
                    background-color: transparent;
                    article {
                        p {
                            font-weight: normal;
                            padding-right: 25%;
                        }
                        a.text2 {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .colu {
            background-image: url('../../assets/Images/Capacitacion-Ventas.jpg');
            color: #FFFFFF;
            text-align: center;
            .items {
                .item1 {
                    article {
                        margin-top: 49px;
                        font-family: 'Fira Sans Extra Condensed', sans-serif;
                        line-height: 0;
                        border: dashed 2px;
                        width: 77%;
                        margin-left: 16%;
                        height: 149px;
                        border-radius: 16px;
                        @include breakpoint(phone) {
                            width: 84%;
                            margin-left: 6%;
                            line-height: 1;
                        }
                        @include breakpoint(tablet) {
                            line-height: 1;
                            margin-left: 18%;
                        }
                        h2 {
                            font-size: 86px;
                            @include breakpoint(phone) {
                                font-size: 50px;
                            }
                            @include breakpoint(tablet) {
                                font-size: 55px;
                            }
                        }
                        p {
                            font-size: 25px;
                            @include breakpoint(phone) {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .item2 {
                    article {
                        p {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        .col-whatsapp {
            background-image: url('../../assets/Images/Fondo-Contactenos.jpg');
            padding-top: 4%;
            .items {
                .item2 {
                    text-align: right;
                    article {
                        color: #FFFFFF;
                        margin-right: 30%;
                        @include breakpoint(phone) {
                            margin-right: 5%;
                        }
                        @include breakpoint(tablet) {
                            margin-right: 8%;
                        }
                        h2 {
                            font-weight: normal;
                            font-size: 35px;
                        }
                        hr {
                            background-color: #FFFFFF;
                        }
                        p {
                            padding-right: 0;
                            font-weight: bold;
                            font-size: 45px;
                            @include breakpoint(phone) {
                                font-size: 37px;
                            }
                        }
                        .btn {
                            color: #FFFFFF;
                            background: linear-gradient(to right, #20AF38 0%, #60D56A 100%);
                            width: 50%;
                            font-size: 23px;
                            transition: 1s;
                            @include breakpoint(phone) {
                                width: 73%;
                            }
                        }
                        .btn:hover {
                            background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
                            color: #20AF38;
                        }
                    }
                }
            }
        }
        .col-times {
            background-image: url('../../assets/Images/Fondo-Aveces.jpg');
            .items {
                .item2 {
                    article {
                        color: #FFFFFF;
                        padding-left: 7%;
                        h2 {
                            font-size: 46px;
                        }
                        .btn {
                            color: #FFFFFF;
                            background-color: transparent;
                            border: solid 1px;
                            transition: 1s;
                        }
                        .btn:hover {
                            color: #005EED;
                            background-color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}