body {
    main {
        .construction-steps {
            text-align: center;
            padding-top: 10%;
            padding-bottom: 10%;
            color: #666666;
            @include breakpoint(phone) {
                padding-top: 20%;
                padding-bottom: 20%;
            }
            span,
            h2 {
                font-weight: bold;
            }
            span {
                font-family: 'Open Sans Condensed', sans-serif;
            }
            h2.title {
                margin-top: 40px;
                margin-bottom: 80px;
                @include breakpoint(phone) {
                    font-size: 18px;
                    padding-left: 9%;
                    padding-right: 9%;
                }
            }
            .items {
                padding-left: 7%;
                padding-right: 7%;
                @media screen and (min-width: 1900px) {
                    padding-left: 20%;
                    padding-right: 20%;
                }
                .item {
                    @include breakpoint(phone) {
                        margin-bottom: 90px;
                    }
                    .line {
                        top: 27px;
                        left: 75px;
                    }
                    .linea {
                        position: absolute;
                        @include breakpoint(phone) {
                            display: none;
                        }
                        @include breakpoint(tablet) {
                            display: none;
                        }
                    }
                    .num {
                        position: absolute;
                        font-size: 27px;
                        font-weight: bold;
                        color: #00D6DF;
                        margin-left: 17px;
                        font-family: 'Montserrat', sans-serif;
                    }
                    p:nth-child(4) {
                        font-weight: bold;
                        font-size: 20px;
                        color: #000000;
                        margin-top: 20px;
                        @include breakpoint(tablet) {
                            font-size: 15px;
                        }
                    }
                    p:nth-child(5) {
                        padding-left: 25%;
                        padding-right: 25%;
                        font-family: 'Open Sans Condensed', sans-serif;
                        @include breakpoint(phone) {
                            padding-left: 18%;
                            padding-right: 18%;
                        }
                        @include breakpoint(tablet) {
                            padding-left: 0%;
                            padding-right: 0%;
                        }
                    }
                    a {
                        color: #005EF0;
                        font-weight: bold;
                    }
                }
            }
            .check {
                margin-top: 52px;
                font-size: 50px;
                color: #00D6DF;
            }
            .num-4 {
                position: absolute;
                left: 34%;
                font-size: 27px;
                font-weight: bold;
                color: #00D6DF;
                font-family: 'Montserrat', sans-serif;
                @include breakpoint(phone) {
                    left: 7%;
                }
                @include breakpoint(tablet) {
                    left: 20%;
                }
                @media screen and (min-width: 1900px) {
                    left: 38%;
                }
            }
            h2.title2 {
                color: #000000;
                margin-top: 30px;
                @include breakpoint(phone) {
                    font-size: 19px;
                }
            }
            .btn {
                background-color: #E85A24;
                color: #FFFFFF;
                border: solid 1px #E85A24;
                transition: 1s;
                margin-top: 15px;
                height: 50px;
                font-size: 15px
            }
            .btn:hover {
                background-color: #FFFFFF;
                color: #E85A24;
            }
        }
        .step-page {
            background-image: url('../../assets/Images/Fondo-Lineas.jpg');
            h2.title2,
            h2.title {
                color: #05ACFF;
            }
            img.check {
                margin-top: 60px;
            }
            .items {
                .item {
                    .num {
                        margin-left: -12px;
                        color: #05ACFF;
                    }
                    .linea {
                        top: 48px;
                        left: 75%;
                    }
                    p:nth-child(4) {
                        color: #05ACFF;
                    }
                    p:nth-child(5) {
                        font-family: 'Fira Sans Extra Condensed', sans-serif;
                    }
                    p:nth-child(6) {
                        font-size: 12px;
                    }
                    .line {
                        display: none;
                    }
                }
            }
            .num-4 {
                left: 45%;
                margin-top: -126px;
                color: #05ACFF;
                @include breakpoint(phone) {
                    margin-top: -158px;
                }
            }
        }
    }
}