body {
    header {
        .headboard {
            position: absolute;
            width: 100%;
            z-index: 1;
            .items {
                padding-top: 1%;
                padding-bottom: 1%;
                @include breakpoint(phone) {
                    text-align: center;
                    padding-top: 10%;
                }
                .item1 {
                    padding-left: 4%;
                }
                .item2 {
                    @include breakpoint(desktop) {
                        text-align: right;
                        padding-right: 4%;
                    }
                    p {
                        display: inline;
                        margin-right: 5%;
                        @include breakpoint(phone) {
                            display: block;
                            margin-top: 20px;
                        }
                    }
                    p.text {
                        font-size: 20px;
                        color: #333333;
                        @include breakpoint(tablet) {
                            font-size: 16px;
                        }
                    }
                    p.num {
                        font-size: 28px;
                        font-weight: bold;
                        @include breakpoint(tablet) {
                            font-size: 20px;
                        }
                    }
                    i {
                        margin-right: 1%;
                    }
                    .btn {
                        background-color: #005EED;
                        color: #FFFFFF;
                        width: 22%;
                        transition: 1s;
                        @include breakpoint(phone) {
                            width: 50%;
                        }
                        @include breakpoint(tablet) {
                            width: 43%;
                        }
                        @include breakpoint(desktop) {
                            margin-top: -10px;
                        }
                    }
                    .btn:hover {
                        background-color: #FFFFFF;
                        color: #005EED;
                    }
                }
            }
        }
    }
}