body {
    main {
        .secret-steps {
            padding-top: 10%;
            padding-bottom: 10%;
            text-align: center;
            background: rgb(0, 80, 217);
            background: -moz-linear-gradient(top, rgb(0, 80, 217) 0%, rgb(0, 199, 249) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(0, 80, 217)), color-stop(100%, rgb(0, 199, 249)));
            background: -webkit-linear-gradient(top, rgb(0, 80, 217) 0%, rgb(0, 199, 249) 100%);
            background: -o-linear-gradient(top, rgb(0, 80, 217) 0%, rgb(0, 199, 249) 100%);
            background: -ms-linear-gradient(top, rgb(0, 80, 217) 0%, rgb(0, 199, 249) 100%);
            background: linear-gradient(to bottom, rgb(0, 80, 217) 0%, rgb(0, 199, 249) 100%);
            @include breakpoint(phone) {
                padding-top: 20%;
                padding-bottom: 20%;
            }
            .title {
                color: #FFFFFF;
                span {
                    font-size: 27px;
                    font-family: 'Fira Sans Extra Condensed', sans-serif;
                }
                h2 {
                    font-weight: bold;
                    font-size: 61px;
                    line-height: 1;
                    @include breakpoint(phone) {
                        font-size: 21px;
                    }
                    span {
                        font-size: 119px;
                        font-family: 'Montserrat', sans-serif;
                        @include breakpoint(phone) {
                            font-size: 40px;
                        }
                    }
                }
                img {
                    @include breakpoint(phone) {
                        width: 100%;
                    }
                }
                p {
                    font-size: 26px;
                }
            }
            .items {
                background-color: #FFFFFF;
                border-radius: 20px;
                padding-top: 3%;
                padding-bottom: 3%;
                width: 80%;
                margin-left: 10%;
                margin-top: 120px;
                @include breakpoint(phone) {
                    padding-bottom: 5%;
                }
                .item1 {
                    text-align: right;
                    img {
                        width: 40%;
                        margin-right: 20%;
                        @include breakpoint(phone) {
                            width: 70%;
                            margin-right: 13%;
                            margin-bottom: 34px;
                        }
                        @include breakpoint(tablet) {
                            width: 67%;
                        }
                    }
                    span {
                        float: left;
                        font-family: 'Fira Sans Extra Condensed', sans-serif;
                        font-size: 175px;
                        font-weight: bold;
                        color: #5DBCD3;
                        margin-top: -41px;
                        margin-left: 35%;
                        @include breakpoint(desktop) {
                            margin-left: 14%;
                        }
                    }
                    .line {
                        border-right: solid 1px #6666;
                        height: 229px;
                        position: absolute;
                        right: 8%;
                        top: 0;
                        @include breakpoint(phone) {
                            display: none;
                        }
                    }
                }
                .item2 {
                    text-align: left;
                    padding-right: 8%;
                    span,
                    p {
                        font-size: 19px;
                        font-family: 'Fira Sans Extra Condensed', sans-serif;
                    }
                    h2 {
                        font-size: 25px;
                        font-weight: bold;
                        margin-top: 10px;
                        @include breakpoint(phone) {
                            font-size: 19px;
                        }
                    }
                }
            }
            .itm {
                margin-top: 50px;
            }
            .btn {
                background-color: #FF4C4C;
                margin-top: 50px;
                color: #FFFFFF;
                transition: 1s;
                font-weight: bold;
                height: 45px;
                width: 15%;
                @include breakpoint(phone) {
                    width: 61%;
                }
                @include breakpoint(tablet) {
                    width: 28%;
                }
            }
            .btn:hover {
                background-color: #FFFFFF;
                color: #FF4C4C;
            }
        }
    }
}